.dark .pub-publication,
.dark .pub-authors {
   font-size: 0.9rem;
   margin-bottom: -5px;
}

.pub-list-item .pub-publication {
   font-size: 0.1rem
}

.media.stream-item {
   margin-bottom: 1.2rem;
}
